{% extends "base.html" %}

{% block content %}
  <h1> Model: {{ car.model }}  </h1>
  <p> <strong>Manufacturer:</strong> {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>
  
    {% if request.user in car.drivers.all %}
      <form action="{% url "taxi:assign-remove-driver-detail" pk=car.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger link-to-page">Delete me from this car</button>
      </form>
    {% else %}
      <form action="{% url "taxi:assign-remove-driver-detail" pk=car.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success link-to-page">Assign me to this car</button>
      </form>
    {% endif %}
  <h3>Drivers </h3>
  
  <hr>
    {% for driver in car.drivers.all %}
        <p><strong>Username: </strong>{{ driver.username }}</p> 
        <p><strong>Full name: </strong>{{ driver.first_name }} {{ driver.last_name }}</p>
        <p><strong>License number: </strong>{{ driver.license_number }}</p>
      <hr>
    {% endfor %}
  <p>
  <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </p>
{% endblock %}
